#add-audio {
	display: none;
}

/* brand-name-container */

.brand-name-container a {
	color: black;
	text-decoration: none;
}

.brand-name-container span {
	font-family: 'Odibee Sans', cursive;
	font-size: 2rem;
}

.brand-name-container img {
	height: 40px;
	width: 40px;
	vertical-align: bottom;
}

/* search-bar-container */

.search-bar-container * {
	border: none;
	background: none;
	outline: none;
}

.search-bar-container button {
	cursor: pointer;
}

.search-bar-container img {
	padding: 5px;
	width: 20px;
	vertical-align: middle;
}

.grey-circle:hover {
	background-color: lightgrey;
	border-radius: 80%;
}

#search-bar {
	display: none;
	height: 40px;
}

#filter-audio {
	border: 1px solid rgb(169, 169, 169);
}

#filter-view {
	display: inline-block;
	padding: 3px;
	position: relative;
	border: 1px solid grey;
	margin-right: 5px;
}

.flexbox {
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
	align-items: center;
}

.file-list-container .flexbox {
	padding: 0;
	margin: 0;
}

.file-list-container .flexbox li {
	display: block;
	padding: 1em;
	flex: 0 1 15%;
	text-align: center;
	margin: 5px;
	text-decoration: none;
	color: black;
}

.file-list-container > table {
	border-spacing: 0 30px;
}

.file-list-container > table td {
	border-top: 1px solid black;
	width: 200px;
}

.file-list-container a {
	text-decoration: none;
	color: black;
	font-size: 0.8rem;
}

.flexbox.files li {
	background-color: lightcoral;
	height: 200px;
}

.flexbox.files a p {
	height: 36px;
}

.flexbox.files div.customize-btns {
	text-align: center;
	display: flex;
	justify-content: space-between;
	background: none;
}

.flexbox.files div.customize-btns img {
	height: 20px;
}

.flexbox.files div.customize-btns button {
	border: none;
	outline: none;
	background: none;
}

div.customize-btns img.grey-circle {
	padding: 3px;
}

.flexbox.folders li {
	background-image: url('../images/Folder.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexbox.folders a {
	display: block;
	max-height: calc(1.2em * 3);
	overflow: hidden;
	width: 100px;
	line-height: 1.2em;
}

.file-list-container img:first-child {
	height: 100px;
}

.new-button img {
	height: 20px;
}

.new-button span {
	display: none;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
		margin-top: 3em;
}

.vertical-line {
	border-left: 1px solid black;
	height: 100%;
	display: inline-block;
	margin: 0 auto;
}

.new-file-box-container > div {
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.new-file-box-container > div > button {
	height: 20%;
	width: 60%;
}

.new-file-box-container > form {
	float: right;
	text-align: center;
}

.new-file-box-container > :not(span) {
	width: calc(50% - 0.5px);
	height: 100%;
}

.new-file-box-container > form > img:first-of-type {
	margin: 50px auto 10px auto;
	display: block;
}

.grid > div:not(.new-file-box-container) {
	z-index: 1;
}

.action-container {
	position: relative;
	padding: 1em;
}

.action-container img {
	position: absolute;
	height: 20px;
	right: 0;
	top: 0;
}
