#add-audio {
	display: none;
}

.brand-name-container a {
	color: black;
	text-decoration: none;
}

.brand-name-container span {
	font-family: 'Odibee Sans', cursive;
	font-size: 2rem;
}

.brand-name-container img {
	height: 40px;
	width: 40px;
	vertical-align: bottom;
}

.search-bar-container {
	border: none;
}

.search-bar-container *:not(#filter-audio) {
	border: none;
	background: none;
	outline: none;
}

.search-bar-container button {
	cursor: pointer;
}

.search-bar-container img {
	padding: 5px;
	width: 20px;
	vertical-align: middle;
}

#search-bar-icon-img:hover {
	background-color: lightgrey;
	border-radius: 80%;
}

#search-bar {
	display: none;
	height: 40px;
}

.flexbox {
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
	align-items: center;
}

.flexbox a {
	padding: 1em;
	flex-basis: 20%;
	text-align: center;
	margin: 5px;
	text-decoration: none;
	color: black;
}

.flexbox.files a {
	background-color: lightcoral;
	height: 200px;
}

.flexbox.folders a {
	background-image: url('../images/Folder.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.flexbox.folders a > span {
	position: absolute;
	left: 50%;
}

.file-list-container img {
	height: 100px;
}

.new-button img {
	height: 20px;
}

.new-button span {
	display: none;
}

.new-file-box-container > div {
	float: left;
	width: 48%;
	text-align: center;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.vertical-line {
	border-left: 1px solid black;
	height: 100%;
	display: inline-block;
	margin: 0 auto;
}

.new-file-box-container > form {
	float: right;
	width: 48%;
	text-align: center;
}

.grid > div:not(.new-file-box-container) {
	z-index: 1;
}
