.metadata-container {
	grid-row: 2;
	grid-column: 1 / -1;
}

.metadata-container > h1 {
	text-align: center;
}

.map-container {
	grid-row: 3;
	grid-column: 1;
	justify-self: left;
	text-align: center;
}

.map-container button {
	background-color: lightcoral;
	outline: none;
	border: none;
	font-size: 1.5em;
}

.map-container button:hover {
	background-color: hsl(0, 60%, 72%);
}

.map-container button:active {
	background-color: hsl(0, 70%, 62%);
}

.file-list-container {
	grid-row: 3;
	grid-column: 2 / 3;
	justify-self: center;
}

.audio-file-container {
	grid-row: 3;
	grid-column: 2 / -1;
	justify-self: center;
}

.change-id-container .file-list-container {
	height: 60%;
}

figure > li {
	display: block;
}
