.metadata-container {
	grid-row: 2;
	grid-column: 1 / -1;
}

.metadata-container > h1 {
	text-align: center;
}

.map-container {
	grid-row: 3;
	grid-column: 1;
}

.file-list-container {
	grid-row: 3;
	grid-column: 2 / 3;
	justify-self: center;
}

.audio-file-container {
	grid-row: 3;
	grid-column: 2 / -1;
	justify-self: center;
}

figure > li {
	display: block;
}
